
a{
  olor: #11999E
  margin:10px 20px;

}
a:hover{ color:#EAF6F6
}
h3 {
  color: #347474;
  font-family: Montserrat, sans-serif;
}

.intro{
  width: 35%;
  margin: auto;
}
h1 {
  color:#347474;
  font-family: Sacramento, sans-serif;
  margin : 50 auto 0 auto;
  text-align: center;
  font-size: 5.625rem; (90px...90/16)
}
hr{
   border-top: 10px dotted #EAF6F6;
   border-bottom: none;
   width: 11%;
   margin: 100px auto 100px auto;
}
h2 {
  color:#347474;
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  paddle-bottom:10px;

}


body {
  color:#40514E
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  font-family: Merriweather, sans-serif;
  margin: 0;
}
.top-container{
    background: #bbcfff;
    text-decoration: none;
}
.middle-container{

}
.bottom-container{
background-color: #66BFBF ;
 ;

}
.div-in-div{
font-family: Merriweather, sans-serif;
font-weight: normal;
padding-top: 50px;
font-size: 1rem;
word-spacing: 20px;
text-decoration: none;

}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.fullstack {
  text-decoration: underline;
}

.mainclassof{
  font-weight:normal;
}
.bottomcloud {
  position: absolute;

}

.topcloud {
  margin-left: 500px;
}
.teamwork{
  width: 25%;
  float:left;
  margin-right: 30px;
    border-radius: 50%;
}
.customer{
  float:right;
  margin-left: 30px;
  border-radius: 50%;
  width:32%
}
.profilepicture{
  border-radius: 50%;
  width: 15%;
}

.trademark{
  color:white;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom:50px;
  font-size: 0.75rem;
}
.btn{
  background-color: #66BFBF;
  border-radius: 10px;
  color: white;
  padding: 1.3rem;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  position: relative;
}
.contact-me{
  margin-bottom: 100px;
}

.paragraph{
  margin-bottom: 100px;
}
.footer-link{
  text-decoration: none;
  color:11999E;
  font-family:
  Merriweather, sans-serif;
}
p{
  line-height: 2;
}
